@media screen and (max-width: 959px) {
    .item:nth-child(2):after {
        display: none;
    }

    .item:not(:last-child):after {
        top: 23% !important;
        left: 77% !important;
        // width: 70px !important;
        // height: 33px !important;
    }

    .banner {
        display: none !important;
    }

    .banner-alt {
        display: block !important;
    }
}

@media screen and (min-width: 960px) {
    .banner {
        display: block !important;
    }

    .banner-alt {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .btn-signup {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .item:after {
        display: none;
    }

    .box {
        width: 350px !important;
        height: 350px !important;
        top: 40% !important;
        left: -50% !important;
    }
}

@media screen and (max-width: 575px) {
    .footer-wrap {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1259px) {
    .box {
        display: none !important;
    }
}